@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        font-family:'Open Sans', sans-serif;
        @apply antialiased
    }
}
.awssld.awssld--organic-arrows {
    height: 500px;
}
nav.awssld__bullets{
    display: none;
}
.awssld__controls {
    opacity: 0;
}

.flag-select button {
    @apply h-14 border-2 border-gray-200 hover:border-primary-brand-color transition-colors
}

.flag-select button > span span:nth-child(2) {
    @apply text-sm
}
#root {
    background-color: #f5f5f5;
}
@media (min-width: 1536px){
.container {
    max-width: 1200px !important;
} }